<!--  File name: about.ejs
      Name: Johnson Ejeh
      StudentID: 300865958
      Date: Septemter 27th 2023 -->

<%- include('partials/header') %>

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img style="width: 50%; padding: 0;" src="/img/profilej.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Software Engineer &amp; Developer</h3>
            <p >
              Hello, I'm Johnson Ejeh, a passionate and driven software engineering student at Centennial College. With a background in mechanical engineering industrial, I've embarked on an exciting journey of transitioning into the dynamic world of software development.
            </p>
            <p >
              My love for problem-solving and creativity has led me to explore the vast realm of coding, where I've found my true calling. As I progress through my fourth semester in year two of my software engineering program, I am eager to apply my growing knowledge and skills to real-world challenges.
            </p>
            <p >
              I believe in the power of continuous learning, and my goal is to secure a co-op position as a software developer. I see this as an opportunity not only to expand my horizons but also to contribute my expertise to a forward-thinking company. Collaboration, innovation, and a relentless pursuit of excellence are the core principles that guide me in my software development journey.
            </p>
            <p >
              When I'm not immersed in code, you can find me exploring the latest tech trends, tackling coding projects, or simply enjoying a good book. I'm excited about the possibilities that lie ahead and look forward to sharing my experiences and insights on this website.
            </p>
            <p >
              Thank you for joining me on this adventure, and feel free to connect with me to discuss anything related to software development, technology, or just to say hello. Let's code the future together!
            </p>
            
            <p><a class="btn-about" href="/Johnson_resume.pdf" download>
              Download RESUME
            </a></p>
            
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Python <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">C# <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Oracle SQL <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Mongodb <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Java <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">React.js <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Node.js <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">blockChain <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Git <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>


          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

  </main><!-- End #main -->

  <%- include('partials/footer') %>  