<!--  File name: home.ejs
      Name: Johnson Ejeh
      StudentID: 300865958
      Date: Septemter 27th 2023 -->

<%- include('partials/header') %>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1>Johnson Ejeh</h1>
      <h2>I'm a Software Engineering student from Toronto</h2>
      <a href="#ms" class="btn-about">Mission Statement</a>
      
    </div>
  </section><!-- End Hero -->
  <section id="ms">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1>Mission Statement</h1>
      <p>
        My mission is to become an accomplished software developer who not only excels in technical skills but also thrives in contributing innovative solutions to real-world challenges. I am committed to continuous learning and growth in the field of software engineering.

      </p>
      <p>
        With a strong foundation in mechanical engineering industrial, I bring a unique perspective to the world of software development, combining problem-solving skills and creative thinking. My goal is to secure a co-op position as a software developer, where I can apply my evolving expertise and collaborate with like-minded professionals.
      </p>
      <p>I believe in the power of teamwork and innovation to drive progress. Through dedication, hard work, and a passion for coding, I aim to make a positive impact on the companies I work with and the software solutions I help create.
      </p>
      <p>Join me on this exciting journey of exploration, innovation, and collaboration in the ever-evolving world of software development. Together, let's build a brighter digital future.</p>
    </div>
  </section>
  

  <%- include('partials/footer') %> 